

<div class="row">
  <% @group.each do |j| %>
    <% @group.each do |i| %>
      <% until j.category_id != i.category_id %>
        
        <%= j.category_id %>
        <%= j.title %>
        <% break %>
      <% end %>

    <% end %>
  <% end %>
</div>



