<div class="progress" style='height: 5px ; background-color: #f1f1f1'>
  <div class="progress-bar" role="progressbar" style="width: 25% ; background-color: #fd6000;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= carousel(@most_voted)  %>
    </div>
  </div>
</div>


<div class="row m-0" style="height: 200px; width: 100%">
  
<%= recent_cat(@categories) %>
</div>
