
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= carousel(@most_voted)  %>
    </div>
  </div>
</div>


<div class="row m-0" style="height: 200px; width: 100%">
  
<%= recent_cat(@categories) %>
</div>
