

<div class="row">

  <%  @categories.each_with_index do |j, index| %>
    <%= j.articles.ordered_by_most_recent.first.title %>
    <%= image_tag j.articles.ordered_by_most_recent.first.image_url  %>


  <% end %>
</div>



